<h5 class='center'>Welcome back, <%= @user.username %></h5>

<p class='style3'>Customers Recently Ordered: </p>
<div class='row'>
	<% for i in 0..5 %>
	<% if @recent_items[i] %>
	<div class="col s6 m3 l2">
		<div class="card center" id='<%= @recent_items[i].id %>'>
			<div class = 'img'>
				<img src="<%= @recent_items[i].url %>" height=60% width=60% alt = "<%= @recent_items[i].name %>">
			</div>
			<p><%= @recent_items[i].name %></p>
			<p class='links'>$ <%= @recent_items[i].price %></p>
		</div>
	</div>
	<% end %>
	<% end %>
</div>

<script>
$(document).ready(function() {
	$('.card').click(function(){
		window.location.href = '/products/' + $(this).attr("id")
	});
});
</script>