<h5 class='style3'>Order Confirmation: #<%= @order.id %></h5>

<p class='style3'>You have purchased <span style='font-weight:bold'><%= @order.quantity %></span> item(s) totaling <span style='font-weight:bold'>$ <%= @order.total %></span>. Thank you for shopping at Tech World!</p>

<h5 class = 'center'>Summary of Purchased Items:</h5>

<div class = 'row'>
	<table class='centered highlight col s8 push-s2'>
		<thead>
			<tr>
				<th>Product</th>
				<th>Price/Unit</th>
				<th>Quantity</th>
				<th>Total</th>
				<th></th>
			</tr>
		</thead>

		<tbody>
			<% @products.each do |cart_item| %>
			<tr>
				<td><a href='/products/<%= cart_item.product_id %>'><%= cart_item.product.name %></a></td>
				<td><%= number_to_currency(cart_item.product.price) %></td>
				<td><%= cart_item.quantity %></td>
				<td><%= number_to_currency(cart_item.product.price * cart_item.quantity) %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>

<div class='center'>
	<a class="waves-effect waves-light btn style4 light-blue accent-3" href='/dashboard'><i class="material-icons">reply</i></a>
</div>
