<% products.each do |product| %>
<div class="col s12 m4 l3">
	<div class="card center">
		<div class = 'img'>
			<img src="<%= product.url %>" height=60% width=60% alt = "<%= product.name %>">
		</div>
		<p><%= product.name %></p>
		<p>$ <%= product.price %></p>
		<div class = "links">
			<a class='btn small-btn info' href='/products/<%= product.id %>/'>More Info</a><br>
			<a href=''>Add to Cart</a>
		</div>
	</div>
</div>
<% end %>