<!-- <img src = '<%= @product.url %>' width=200px height=200px alt = '<%= @product.name %>'>
<h4><%= @product.name %></h4>
<h6>Description: <%= @product.description %></h6>
<h6>Price: <%= @product.price %></h6>

<a href=''>Add to Cart</a>
-->
<div class='row'>
	<div class="s12 m4 l8 img">
		<img src="<%= @product.url %>" alt = "<%= @product.name %>">
	</div>
	<div class='s12 m4 l4'>
		<p><%= @product.name %></p>
		<p>$ <%= @product.price %></p>
		<p><%= @product.description %></p>
		<div class = "links">
			<a href=''>Add to Cart</a>
		</div>
	</div>
</div>
</div>