<!DOCTYPE html>
<html>
<head>
  <title>Tech World</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>

  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body class="grey lighten-4">

  <% if session[:username] %>
  <nav>
    <div class="nav-wrapper black-text white">
      <a href="/home" class="brand-logo black-text center"><i class='material-icons brand-logo center grey-text'>store</i></a>
      <%= link_to "Log Out", sessions_logout_path, :class => "right grey-text", :style => "margin-right: 20px; margin-left:15px" %>
      <%= link_to '<i class="material-icons right grey-text">shopping_cart</i>'.html_safe, cart_path %>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><%= link_to "Home", home_path, :class => "grey-text" %></li>
        <li><%= link_to "Products", products_path, :class => "grey-text" %></li>
        <li></li>
      </ul>
    </div>
  </nav>
  <% end %>

  <div id='error_container'>
    <% if flash[:error] %>
    <% flash[:error].each do |e| %>
    <div id = 'error_msg' class = 'card-panel red lighten-3'>
      <span class='white-text'><%= e %></span>
    </div>
    <% end %>
    <% end %>
  </div>


  <%= yield %>

</body>
</html>
